<html>
  
  <head>
  	<link rel="stylesheet" href="style.css">
  </head>
  
  <body>
    
  </div>
      <h1> WANTED!!</h1>
      <h3>Have you seen Tom Brady?</h3>
      <img src="tom 1.png" img>
      
      <p> Reason: Tom Brady has commited unlawful crimes against the  NFl like deflating balls and winning to much.
      <p>Description: Tom Brady is 6'4" and 225 pounds
      <p>If you have any information, please contact 555-2368</p>
      <p>Reward= 6 Super Bowl rings</p>

      

  
  
</html>