<html>
  
  <head>
  	<link rel="stylesheet" href="style.css">
  </head>
  
  <body>
    
  <div>
      <h1> WANTED!!</h1>
      <h3>Have you seen Tom Brady?</h3>
      <img src="https://static.clubs.nfl.com/image/private/t_editorial_landscape_8_desktop_mobile/f_auto/v1560185130/patriots/vfacx65d5r66rikwni1x.jpg" img>
      
      <p> Reason: Tom Brady has commited unlawful crimes against the  NFl like deflating balls and winning to much.
      <p>Description: Tom Brady is 6'4" and 225 pounds
      <p>If you have any information, please contact 555-2368</p>
      <p>Reward= 6 Super Bowl rings</p>

      </div>


      

  
  
</html>